

html, body, #Index, #AboutMe, #Education, #Projects, #WorkExperience, #Contact {
	height:auto;
	min-height: 10vh;
	text-align: left;
	
}

h2 {font-size:3em; text-align:left;
	    padding-left: 0.5em; }

h6 { color: #696969; padding-left: 1em;
	}

p { padding-left: 1em;
	}
	


#Index, #AboutMe, #Education, #Projects, #WorkExperience, #Contact {
	padding-top:0.5em;
	text-align: left;
	
	}

.close{
	padding-left: 1em;
	
}
	
body, html {
	height: 100%;

}

body {
	background-color: #E8E8E8;
}
.button1 {
    padding: 5px 20px;
	border-radius: 4px; /*round edge*/
	background-color: white; 
	color: black;
	
}



#db {
	width: 100%;
}


/*
.hero-image {
  background-image: url("navy.png");
  height: 50%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: top;
}
*/

.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  color: White;
}

/*
.hero-text button {
  border: none;
  outline: 0;
  display: block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
*/

#mainNav {
	background-color: #888;
    overflow: hidden;
	line-height: 2em;
	text-align: center;
	font-size: 1em;
	
}

	#mainNav a{
    float: center;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: line-height;
    font-size: 1em;
	
}


  
	#mainNav a:hover {
	background-color: #ddd;
    color: navy; }
 

	table, th, td {
	border: 1px solid black;
	font-size: 0.9em;
	width: 10%;
	background-color: #EEECF2; }

	#FirstYear{
		width: 75%;
	}
	
	#SecondYear{
		width: 75%;
	}
	
	#ThirdYear{
		width: 75%;
	}
	 
	#LCResults { 
	width: 50%
	}


h2 {font-size:3em;
    text-align:center;
	padding-left: 0.5em; 
	color: #663399;
	
	}
	
h3 { padding-left: 1em;}

h4 {
	text-align: left;
	padding-left: 1em;
}
	
h5 { padding-left: 1em; }


h6 { color: #696969; padding-left: 1em;}

p { padding-left: 1em;
   }

#MacDarasLink {
	padding-left: 1em;
}

.btn-link {
	padding-left: 1em;
}

.normal {
	color: black;
}

#Index {background-color:#663399;}

#AboutMe {background-color:#C0C0C0;
text-align: center;}

#Education {background-color:#C0C0C0;}

#Projects {background-color:#C0C0C0;}

#WorkExperience {background-color:#C0C0C0;
}

#img2{
	text-align: center;
}

#Contact {background-color:#C0C0C0;
 padding-left: 1em; 
 Padding-bottom: 1em;
 text-align: center;}
 
img {
	padding-left: 1em;
	padding-right: 1em;
	width: 300px;
	height: 428px:
}

